@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

html {
  font-size: 10px;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: Manrope;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: minmax(46.5rem, 5fr) minmax(12rem, 2fr);
      grid-template-rows: minmax(46.5rem, 5fr) minmax(12rem, 2fr);
}

@media (max-width: 768px) {
  .page {
    -ms-grid-rows: minmax(46.5rem, 7fr) minmax(45rem, 4fr);
        grid-template-rows: minmax(46.5rem, 7fr) minmax(45rem, 4fr);
  }
}

.container {
  max-width: 98rem;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0px 25px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

.container--big {
  max-width: 119rem;
  width: 119rem;
}

@media (max-width: 1200px) {
  .container--big {
    max-width: 92%;
    width: 92%;
  }
}

@media (max-width: 768px) {
  .container--big {
    max-width: 96%;
    width: 96%;
  }
}

@media (max-width: 576px) {
  .container--big {
    max-width: 96%;
    width: 96%;
  }
}

.container--xl {
  max-width: 128rem;
}

@media (max-width: 1280px) {
  .container--xl {
    max-width: 92%;
    width: 92%;
  }
}

@media (max-width: 768px) {
  .container--xl {
    max-width: 96%;
    width: 96%;
  }
}

@media (max-width: 576px) {
  .container--xl {
    max-width: 96%;
    width: 96%;
  }
}

.display__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo {
  width: 17rem;
}

.nav__main {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4.2rem;
  margin: 30px auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 576px) {
  .nav__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__element {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.5rem;
  height: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .nav__element {
    display: none;
  }
}

.violet {
  background-color: #7D4CE5;
  background-image: url("images/bg-trop.png");
  background-repeat: no-repeat;
  background-size: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  .violet {
    background-size: cover;
  }
}

.violet__filter {
  min-height: 47.0rem;
}

.violet--alternative {
  background-position-y: 20%;
}

.text__h2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  margin: 40px 0;
  line-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .text__h2 {
    font-size: 26px;
    line-height: 125%;
  }
}

.text__h2--smallBottom {
  margin: 40px 0 20px 0;
}

.text__h5 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .text__h5 {
    font-size: 18px;
    line-height: 150%;
  }
}

.text__h6 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #8A8CB9;
}

.text__paragraph {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  display: inline-block;
  max-width: 78rem;
  text-align: center;
  color: #ffffff;
}

.text__paragraph a {
  color: white;
}

.text__paragraph--checkbox {
  font-size: 1.6rem;
  padding: 1.4rem 0;
  text-align: left;
  font-weight: 400;
  cursor: pointer;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 3rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 576px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__text {
  background: #FFFFFF;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  border: 1px solid #F3F3F3;
  padding: 2.4rem 2.8rem;
  -webkit-box-shadow: 0px 4px 4px rgba(158, 94, 94, 0.01), 0px 15px 60px -28px rgba(23, 23, 28, 0.17);
          box-shadow: 0px 4px 4px rgba(158, 94, 94, 0.01), 0px 15px 60px -28px rgba(23, 23, 28, 0.17);
  border-radius: 13px 0 0 13px;
}

@media (max-width: 576px) {
  .form__text {
    border-radius: 13px 13px 13px 13px;
  }
}

.form__button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #2C2856;
  -webkit-box-shadow: 0px 4px 4px rgba(158, 94, 94, 0.01), 0px 15px 60px -28px rgba(23, 23, 28, 0.17);
          box-shadow: 0px 4px 4px rgba(158, 94, 94, 0.01), 0px 15px 60px -28px rgba(23, 23, 28, 0.17);
  border-radius: 0 13px 13px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  border: none;
}

.form__button:disabled {
  background-color: #45408a;
  color: #f9f9f9;
  cursor: default;
}

@media (max-width: 576px) {
  .form__button {
    margin-top: 2rem;
    min-height: 6rem;
    border-radius: 13px 13px 13px 13px;
  }
}

.form__button--minimal {
  width: 40%;
  display: block;
  max-height: 60px;
  margin: 40px;
  border-radius: 15px;
}

.form__rodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form__checkbox {
  background: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  margin: 2.4rem;
  width: 2.4rem;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  height: 2.4rem;
}

.form__checkbox::checked {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

.list {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #B9BAD5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.list__element {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
}

.list__element--active {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2A2D50;
}

@media (max-width: 576px) {
  .list__element {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.list__image {
  margin-right: 20px;
}

.list__span {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-left: 20px;
  padding: 4px 8px;
  color: #FFFFFF;
  background: #8A8CB9;
  opacity: 0.8;
  border-radius: 4px;
}

.filter__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 3fr 2fr 1fr;
      grid-template-columns: 3fr 2fr 1fr;
  padding: 40px 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #FFFFFF;
  min-height: 140px;
  margin-top: -100px;
  width: 100%;
  border: 1px solid #F3F3F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01), 0px 15px 60px -28px rgba(23, 23, 28, 0.17);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01), 0px 15px 60px -28px rgba(23, 23, 28, 0.17);
  border-radius: 13px;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .filter__main {
    margin-top: -80px;
  }
}

@media (max-width: 768px) {
  .filter__main {
    padding: 30px 30px;
    -ms-grid-rows: 1fr auto auto;
        grid-template-rows: 1fr auto auto;
    gap: 2.5rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .filter__main {
    margin-top: -130px;
  }
}

.tag__single {
  background: rgba(232, 230, 243, 0.6);
  border: none;
  border-radius: 6px;
  padding: 8px 18px;
  margin: 10px 10px 0 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #575983;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 768px) {
  .tag__single {
    min-height: 48px;
  }
}

.tag__single--active {
  background: -webkit-gradient(linear, left bottom, left top, from(#2C2856), to(#2C2856)), -webkit-gradient(linear, left bottom, left top, from(#312B7A), to(#312B7A)), -webkit-gradient(linear, left bottom, left top, from(#3051FF), to(#3051FF)), #2D2DFF;
  background: linear-gradient(0deg, #2C2856, #2C2856), linear-gradient(0deg, #312B7A, #312B7A), linear-gradient(0deg, #3051FF, #3051FF), #2D2DFF;
  border-radius: 6px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.tag__single--small {
  margin: 0 1rem 1rem 0;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
}

@media (max-width: 768px) {
  .tag__single--small {
    min-height: 16px;
  }
}

.lecture {
  width: 100%;
  min-height: 50px;
  max-height: 100vh;
  background: #FFFFFF;
  border: 1px solid #CED3E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .lecture {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
}

@media (max-width: 576px) {
  .lecture {
    padding: 15px;
  }
}

.lecture__half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 992px) {
  .lecture__half {
    width: 100%;
    margin: 1.2rem 0;
  }
}

@media (max-width: 576px) {
  .lecture__half {
    width: 100%;
    margin: 0.5rem 0;
  }
}

.lecture__image {
  margin-right: 2rem;
  max-width: 19rem;
  max-height: 19rem;
}

@media (max-width: 1200px) {
  .lecture__image {
    max-width: 12rem;
    max-height: 12rem;
  }
}

@media (max-width: 576px) {
  .lecture__image {
    max-width: 9rem;
    max-height: 9rem;
  }
}

.lecture__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 576px) {
  .lecture__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.lecture__description > * {
  margin-bottom: 1.2rem;
}

.lecture__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .lecture__title {
    font-size: 1.6rem;
  }
}

@media (max-width: 992px) {
  .lecture__title {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .lecture__title {
    font-size: 1.6rem;
  }
}

.lecture__join {
  text-decoration: none;
  background-color: #2C2856;
  border-radius: 45px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  height: 3.5rem;
  width: auto;
  padding: 0 1.6rem;
  margin: 0 1.6rem 0 0;
  line-height: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.lecture__join--testimonial {
  background-color: #ffffff;
  border: 1px solid #8A8CB9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 45px;
  color: #575983;
}

.lecture__rightGrid {
  border-left: 1px solid #EEEFF2;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  grid-auto-flow: column;
  -ms-grid-columns: 3fr 3fr 2fr;
      grid-template-columns: 3fr 3fr 2fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  color: #3A3C60;
}

@media (max-width: 576px) {
  .lecture__rightGrid {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
}

.lecture__rightGrid > * {
  padding: 15px;
}

@media (max-width: 576px) {
  .lecture__rightGrid > * {
    padding: 1px;
  }
}

.lecture__rightGrid__price {
  border-left: 1px solid #EEEFF2;
  -ms-grid-column: 3;
  grid-column: 3;
  grid-row: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 150%;
  color: #3A3C60;
}

@media (max-width: 576px) {
  .lecture__rightGrid__price {
    font-size: 1.4rem;
  }
}

.lecture__rightGrid__borderAndSpacing {
  border-bottom: 1px solid #EEEFF2;
}

@media (max-width: 992px) {
  .lecture__rightGrid__borderAndSpacing {
    border: none;
  }
}

.lecture__rightGrid--span {
  width: 150%;
  display: block;
  font-family: Manrope;
  margin-bottom: 0.2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 18px;
  color: #9D9EBE;
}

.level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 0.8rem 0;
}

.level__basic {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3FD59F;
}

.AddToDatabase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 27.5rem;
  border-radius: 1.6rem;
  margin: 4rem auto;
  background-color: #7D4CE5;
}

@media (max-width: 768px) {
  .AddToDatabase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8rem 0;
  }
  .AddToDatabase > * {
    margin: 2rem 0;
  }
}

.AddToDatabase__h3 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 3.3rem;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 500px;
}

@media (max-width: 1200px) {
  .AddToDatabase__h3 {
    font-size: 2.6rem;
    max-width: 33%;
  }
}

@media (max-width: 768px) {
  .AddToDatabase__h3 {
    max-width: 80%;
    text-align: center;
  }
}

.AddToDatabase__button {
  min-width: 37rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2C2856;
  -webkit-box-shadow: 0px 20px 32px -4px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 20px 32px -4px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
}

@media (max-width: 992px) {
  .AddToDatabase__button {
    min-width: 25rem;
  }
}

@media (max-width: 768px) {
  .AddToDatabase__button {
    min-width: 80%;
  }
}

.AddToDatabase__buttonText {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 150%;
  margin: 0 20px;
  color: #FFFFFF;
}

.filterFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 6rem;
  border-top: 1px solid rgba(206, 211, 224, 0.4);
  padding: 6rem 0 6rem 0;
}

@media (max-width: 768px) {
  .filterFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filterFooter__footerHalf {
  width: 50%;
}

@media (max-width: 768px) {
  .filterFooter__footerHalf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .filterFooter__footerHalf img {
    margin: 0 auto;
    width: 33%;
  }
}

.filterFooter__rightFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #575983;
}

@media (max-width: 768px) {
  .filterFooter__rightFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 2rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .filterFooter__footerTerm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0;
    width: 100%;
  }
}

.filterFooter__rightFooter > * {
  margin-left: 5rem;
}

@media (max-width: 768px) {
  .filterFooter__rightFooter > * {
    margin: 2.5rem 0;
  }
}

@media (max-width: 768px) {
  .filterFooter__socialMedia {
    width: 80%;
    margin: 2rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.filterFooter__socialMedia > * {
  margin-left: 5rem;
}

@media (max-width: 768px) {
  .filterFooter__socialMedia > * {
    margin: 0;
  }
}

.filterFooter__footerCopyrights {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 10px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #8A8CB9;
}

@media (max-width: 992px) {
  .buttonDesktop {
    display: none;
  }
}

.buttonMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 993px) {
  .buttonMobile {
    display: none;
  }
}

.buttonMobile__cta {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 576px) {
  .buttonMobile__cta {
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */